*{
    margin:0;
    padding: 0;
    color:white;
    font-family: montserrat, sans-serif;
}

body {
    margin: 0;
    background-color:#1f2937;
}

h1{
    font-size: 100px;
    margin:0;
    padding:30px 30px 3px 30px;
}

span{
    color:#fb7185;
}

p{
    font-size: 40px;
    padding: 0 30px 30px 30px
}

form{
    display: flex;
    align-items: center;
    margin:30px 30px 0px 30px;
    flex-wrap:wrap;
}

.length-container{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    margin-bottom:30px;
}

.checkbox-container{
    display: flex;
    flex-direction: column;
}

.checkboxes{
    margin:0;
    padding:0;
}

.checkbox-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.checkbox-tittle{
    font-size: 25px;
}

label{
    font-size: 45px;
    margin-right:10px;
}

.input-wrapper{
    display:inline;
}

input{
    display: inline;
    background: #273549;
    font-size:30px;
    border:none;
    padding:8px;
    border-radius: 3px;
    margin-top:5px;
    margin-bottom:0;
    width:300px;
}

input:focus{
    outline:none;
}

small{
    font-size: 20px;
    margin:0;
    padding:0;
}

button{
    margin: 30px 30px 30px 30px;
    background: #e11d48;
    border:none;
    border-radius:4px;
    padding:20px 35px;
    font-size:30px;
    font-weight: 700
}

button:active{
    box-shadow:none;
    outline:none;
}

button:focus{
    box-shadow:none;
    outline:none;
}

hr{
    width:90%;
    margin:0 auto;
    border: 1px solid #273549
}

.password-container{
    display:flex;
    flex-direction:column;
    margin:30px;
}

.password-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #273549;
    min-height:50px;
    margin:10px 0;
    padding:10px 10px;
    border-radius:4px;
    text-align: center;
}

.password{
    font-family: Source Code Pro, sans-serif;
    font-size:30px;
    color:#fb7185;
    padding:0;
    margin:0;
    overflow: hidden;
    white-space: pre-wrap;
}

.inner-text{
    padding:0;
    margin:0;
    font-size:13px;
    color:#fb7185;
}

.copy-el{
    background:inherit;
    margin:0;
    align-self:right;
}

.copy-el i{
    font-size: 30px;
    color:#fb7185;
    margin:0;
    padding:0;
}


